<html>
<head>
	<title>Millionaire Chess Commentary Interface</title>
	<link rel="stylesheet" href="/assets/main.css" type="text/css" />
	<script src="/assets/jquery-1.11.1.min.js"></script>
	<script src="/assets/jquery.sparkline.min.js"></script>
	<script src="/assets/main.js"></script>

</head>
<body>
	<div id="nav">
		<p><a href="/current_games.html">Live Games</a>
				<a href="/players">Players</a>
				<a href="/summary">Summary</a></p>

	</div>
	<%= yield %>

</body>
<html>