<html>
<head>
	<title>Millionaire Chess Commentary Interface</title>
	<link rel="stylesheet" href="assets/main.css" type="text/css" />
	<script src="assets/jquery-1.11.1.min.js"></script>
	<script src="assets/jquery.sparkline.min.js"></script>

</head>
<body>
	<%= yield %>

</body>
<html>