<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script>
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Player Characteristics'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                'Mobility',
                'Positional',
                'Tactical',
                'Material'
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Maurice Ashley',
            data: [84, 32, 92, 45]

        }]
    });
});
</script>


<h2>Maurice Ashley</h2>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<ul>
	<li><b>Elo Score</b> 2715</li>

</ul>
<ul>
	<li><b>Queen Trade Frequency</b> 55% (87/158 games)</li>
	<li><b>Queen Trade Record</b> <span style="color:red">-6%</span> (60% vs 66%)</li>
	<li><b>Average Win Length</b> <span style="color:red">-5 moves</span> (41.5 v 50)</li>
	<li><b>Average Loss Length</b> <span style="color:green">+5 moves</span> (55 v 50)</li>
	<li><b>Average Game Length</b> <em>typical</em>
</ul>
