<html>
	<body>
		<form action="/pgn" method="post" enctype="multipart/form-data">
			<p><label>Upload PGN file:</label> <input name="file" type="file" ></p>
			<p><input type="submit" /></p>
		</form>
	</body>
<html>